<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TimeLog</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
@*            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TimeLog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) 
            </div> *@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Logged Work", "Index", "TimeEntries")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Time Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Monthly Time per Customer", "Index", "MonthlyTimePerCustomers")</li>
                            <li>@Html.ActionLink("My Monthly Time per Project", "Index", "MonthlyTimePerProjects")</li>
                            <li>@Html.ActionLink("My Total Time per Customer", "Index", "TimePerCustomers")</li>
                            <li>@Html.ActionLink("My Total Time per Project", "Index", "TimePerProjects")</li>
                            <li class="divider"/>
                            <li>@Html.ActionLink("Monthly Time per Customer", "IndexTotal", "MonthlyTimePerCustomers")</li>
                            <li>@Html.ActionLink("Monthly Time per Project", "IndexTotal", "MonthlyTimePerProjects")</li>
                            <li>@Html.ActionLink("Total Time per Customer", "IndexTotal", "TimePerCustomers")</li>
                            <li>@Html.ActionLink("Total Time per Project", "IndexTotal", "TimePerProjects")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
        <script type="text/javascript">
            if (!Modernizr.inputtypes.date) {
                $(function () {
                    $(".jqueryui-marker-datepicker").datepicker({ showOn: "button" }).css("display", "inline-block").next("button").button({ icons: { primary: "ui-icon-calendar" }, text: false });
                });
            }
        </script>
    @RenderSection("scripts", required: false)
</body>
</html>


